<div *ngIf="company$ | async">
  <div class="action-panel">
    <div class="title">
      <h1>{{(company$ | async).beneficiary_name}}</h1>
    </div>
    <div>
      <button class="btn btn-back" routerLink="/beneficiary">come back</button>
      &nbsp;
      <button class="btn btn-primary" (click)="updateCompany()">
        <svg width="30" height="20">
          <use xlink:href="./assets/img/icons.svg#pencil-edit"></use>
        </svg>
        Change
      </button>
    </div>
  </div>

  <h4><span class="label">Address line1:</span> {{(company$ | async).address_line1}}</h4>
  <h4><span class="label">Address line2:</span> {{(company$ | async).address_line2}}</h4>
  <h4><span class="label">Address line3:</span> {{(company$ | async).address_line3}}</h4>

  <h4><span class="label">Email/www:</span> {{(company$ | async).beneficiary_email_www}}</h4>
  <h4><span class="label">Conatct email:</span> {{(company$ | async).contact_email}}</h4>


  <h4><span class="label">Created at:</span> {{(company$ | async).created_at | date:'dd MMM yyyy hh:mm'}}</h4>
  <h4><span class="label">Updated at:</span> {{(company$ | async).updated_at | date:'dd MMM yyyy hh:mm'}}</h4>
</div>

<hr class="mt-10">

<div class="beneficiary-controls">
  <h2>Банковские счета</h2>
  <button class="btn btn-primary add-btn-icon" (click)="addAccount()">
    new account
  </button>
</div>

<table class="tbl">
  <thead>
  <tr>
    <th>Account</th>
    <th>Bank</th>
  </tr>
  </thead>
  <tbody *ngIf="company$ | async">
  <tr *ngFor="let account of (company$ | async).accounts" (click)="editAccount(account)">
    <td class="client-name">{{account.account_number}}</td>
    <td>{{account.bank_name}}</td>
  </tr>
  </tbody>
</table>

<app-beneficiary-modal *ngIf="companyModalVisible" [company]="company$ | async"
                   (closeClicked)="hideCompanyModal()"></app-beneficiary-modal>
<app-account-modal
  *ngIf="accountModalVisible"
  [selected]="selected"
  [company]="company$ | async"
  (closeClicked)="hideAccountModal()"
></app-account-modal>
