<div class="action-panel">
  <div class="breadcrumbs">
    <a routerLink="/deposit" class="root__breadcrumb">Deposit</a>
    <span class="tail__breadcrumb">→ account in {{currency.toUpperCase()}}</span>
  </div>
  <button class="btn btn-back" routerLink="/deposit">come back</button>
</div>

<div class="panel deposit-panel">
  <div class="deposit-panel__balance">
    <h2>Account Balance</h2>
    <span class="deposit-balance" [ngClass]="currency">898,800</span>
  </div>
  <button class="btn btn-primary add-btn-icon" (click)="newDeposit()">
    new deposit
  </button>
</div>

<div class="search-block">
  <input
    class="search-input"
    type="text"
    placeholder="find deposit"
  />
  <a href="#" class="received-deposits">view received deposits</a>
</div>

<table class="tbl deposit" *ngIf="deposits$ | async">
  <thead>
  <tr>
    <th>Ref.№.</th>
    <th>Date</th>
    <th>Beneficiary name</th>
    <th>Beneficiary bank name</th>
    <th>Total {{currency.toUpperCase()}}</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let deposit of (deposits$ | async)">
    <td>{{deposit.id}}</td>
    <td>{{deposit.created_at | date:'dd MMM yyyy'}}</td>
    <td class="cell-name">{{deposit.company_name}}</td>
    <td>{{deposit.bank_name}}</td>
    <td class="cell-currency">{{deposit.amount}}</td>
    <td class="cell-action">
      <a href="#">
        <svg width="19" height="20">
          <use xlink:href="./assets/img/icons.svg#in-progress"></use>
        </svg>
      </a>
      <span class="tooltiptext">{{deposit.status}}</span>
    </td>
  </tr>
  </tbody>
</table>

<p class="more"><a href="#">↓ more deposits</a></p>

<app-deposit-modal [currency]="currency" *ngIf="isPopupVisible" (closeClicked)="hideModal()"></app-deposit-modal>
