<div class="container">
  <nav class="nav">
    <div class="logo">
      <a href="/">
        <img src="./assets/img/logo.svg" alt="B&W consulting"/>
      </a>
    </div>
    <div class="nav__block">
      <div class="menu">
        <div class="logged-user">
          <img src="./assets/img/loged-user-icon.svg" alt="user"/>
          <span class="username">John Smith</span>
        </div>
        <button class="btn exit-btn">
          <img src="./assets/img/exit-icon.svg" alt="exit"/>
          <a href="/login">Logout</a>
        </button>
      </div>
    </div>
  </nav>
</div>

