<div class="modal-window">
  <span class="close" (click)="closeModal()">&times;</span>
  <div class="modal-header">
    <div class="modal-header_header">
      <h2>{{selected ? 'Edit' : 'New'}} account</h2>
      <span *ngIf="!selected">Fill in all fields to create a new account</span>
    </div>
    &nbsp;
    <button
      class="btn btn-primary"
      (click)="onSubmit()"
      [disabled]="!form.valid"
    >
      <svg width="20" height="15">
        <use xlink:href="./assets/img/icons.svg#save-deposit"></use>
      </svg>
      save account
    </button>
  </div>

  <div class="errors" *ngIf="errors$ | async">
    <ul>
      <li *ngFor="let err of (errors$ | async)">{{err}}</li>
    </ul>
  </div>

  <form [formGroup]="form" class="modal-content" (ngSubmit)="onSubmit()">
    <div>
      <label for="account">Номер счета:</label>
      <input
        id="account"
        type="text"
        placeholder="Номер счета"
        formControlName="account_number"
        [ngClass]="{invalid: form.get('account_number').touched && form.get('account_number').invalid}"
      />
    </div>


    <div>
      <label for="bank">Банк:</label>
      <select formControlName="foreign_bank_id" id="bank">
        <option value="" disabled selected>Select bank</option>
        <option *ngFor="let bank of (banks$ | async)" value="{{bank.id}}">{{bank.bank_name}}</option>
      </select>
    </div>
  </form>

  <div class="new-client-footer">

    <span class="warning">*fill in all important fields</span>
    <div>
      <button
        class="btn btn-primary"
        (click)="onSubmit()"
        [disabled]="!form.valid"
      >
        <svg width="20" height="15">
          <use xlink:href="./assets/img/icons.svg#save-deposit"></use>
        </svg>
        save account
      </button>
    </div>

  </div>
</div>
