<div class="action-panel">
  <div class="title">
    <h1>Beneficiary</h1>
  </div>
</div>
<div class="beneficiary-controls">
  <input
    class="search-input"
    type="text"
    placeholder="find beneficiary"
  />
  <button class="btn btn-primary add-btn-icon">
    new beneficiary
  </button>
</div>

<table class="tbl beneficiary">
  <thead>
  <tr>
    <th>Date</th>
    <th>Beneficiary name</th>
    <th>Beneficiary bank name</th>
    <th>Currency</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  <tr>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">USD</td>
    <td class="cell-action">
      <a href="#">
        <svg width="27" height="20">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
      </a>
      <span class="tooltiptext">new transfer</span>
    </td>
  </tr>
  </tbody>
</table>
<p class="more"><a href="#">↓ more beneficiary</a></p>
