<div class="modal-window">
  <span class="close" (click)="closeModal()">&times;</span>
  <div class="modal-header">
    <div class="modal-header_header">
      <h2>New deposit in {{currencyProp.toUpperCase()}}</h2>
      <span>Fill in all fields to add a new deposit</span>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">
      <svg width="20" height="15">
        <use xlink:href="./assets/img/icons.svg#save-deposit"></use>
      </svg>
      save deposit
    </button>
  </div>

  <div class="errors" *ngIf="errors">
    <ul>
      <li *ngFor="let err of errors">{{err}}</li>
    </ul>
  </div>

  <form [formGroup]="form" class="modal-content" (ngSubmit)="onSubmit()">
    <div class="double">
      <div>
        <label for="invoice">Номер счета на оплату:</label>
        <input
          id="invoice"
          type="text"
          placeholder="Номер счета на оплату"
          formControlName="admin_company_invoice_number"
          [ngClass]="{invalid: form.get('admin_company_invoice_number').touched && form.get('admin_company_invoice_number').invalid}"
        />
      </div>
      &nbsp;&nbsp;
      <div>
        <label for="invoiceDate">Дата счета на оплату:</label>
        <dp-date-picker
          id="invoiceDate"
          placeholder="Дата счета на оплату"
          formControlName="admin_company_invoice_date"
          theme="theme - dp-material"
          [config]="datePickerConfig"
          [ngClass]="{invalid: form.get('admin_company_invoice_date').touched && form.get('admin_company_invoice_date').invalid}"
        ></dp-date-picker>
      </div>
    </div>
    <div class="double">
      <div>
        <label for="paymentOrder">Номер платежного поручения:</label>
        <input
          id="paymentOrder"
          type="text"
          placeholder="Номер платежного поручения"
          formControlName="payment_order_number"
          [ngClass]="{invalid: form.get('payment_order_number').touched && form.get('payment_order_number').invalid}"
        />
      </div>
      &nbsp;&nbsp;
      <div>
        <label for="paymentDate">Дата платежного поручения:</label>
        <dp-date-picker
          id="paymentDate"
          placeholder="Дата платежного поручения"
          formControlName="payment_order_date"
          theme="theme - dp-material"
          [config]="datePickerConfig"
          [ngClass]="{invalid: form.get('payment_order_date').touched && form.get('payment_order_date').invalid}"
        ></dp-date-picker>
      </div>
    </div>

    <div class="double">
      <div>
        <label for="adminCompany">Наименование продавца:</label>
        <select id="adminCompany" formControlName="admin_company_id">
          <option *ngFor="let adm of adminCompanies$ | async" value="{{adm.id}}">{{adm.company_name}}</option>
        </select>
      </div>
      &nbsp;&nbsp;
      <div>
        <label for="adminBank">Банк продавца:</label>
        <input
          id="adminBank"
          type="text"
          placeholder="Банк продавца"
          formControlName="admin_company_bank_id"
          [ngClass]="{invalid: form.get('admin_company_bank_id').touched && form.get('admin_company_bank_id').invalid}"
        />
      </div>

    </div>

    <div>
      <label for="clientCompany">Наименование покупателя:</label>
      <select id="clientCompany" formControlName="user_company_id">
        <option *ngFor="let client of clientCompanies$ | async" value="{{client.id}}">{{client.company_name}}</option>
      </select>
    </div>

    <div>
      <label for="amount">Сумма платежа:</label>
      <input
        id="amount"
        type="text"
        placeholder="Сумма платежа"
        formControlName="amount"
        [ngClass]="{invalid: form.get('amount').touched && form.get('amount').invalid}"
      />
    </div>
    <div>
      <label for="payment_purpose">Назначение платежа:</label>
      <input
        id="payment_purpose"
        type="text"
        placeholder="Назначение платежа"
        formControlName="payment_purpose"
        [ngClass]="{invalid: form.get('payment_purpose').touched && form.get('payment_purpose').invalid}"
      />
    </div>

    <div class="upload">
      <p> Добавить PDF (Платежка в PDF формате с отметкой банка исполнено) </p>
      <div class="upload-group">
        <input
          type="file"
          class="file-input" #file
          formControlName="payment_order_pdf"
          (change)="onFileSelect($event)"
        >
        <button type="button" class="btn btn-upload" (click)="file.click()">upload file</button>
        <p>
          <span *ngIf="form.value.payment_order_pdf">selected</span>{{form.value.payment_order_pdf}}
        </p>
      </div>
    </div>
  </form>
  <div class="deposit-modal-footer">

    <button class="btn btn-primary" (click)="onSubmit()">
      <svg width="20" height="15">
        <use xlink:href="./assets/img/icons.svg#save-deposit"></use>
      </svg>
      save deposit
    </button>
  </div>
</div>
