<div class="action-panel">
  <div class="title">
    <h1>Transfer</h1>
  </div>
</div>

<div class="search-block">
  <input
    class="search-input"
    type="text"
    placeholder="find transfer"
  />
  <a href="#" class="received-deposits">view completed transfers</a>
  <button class="btn btn-primary add-btn-icon">
    new transfer
  </button>
</div>

<table class="tbl">
  <thead>
  <tr>
    <th>Ref.№.</th>
    <th>Date</th>
    <th>Beneficiary name</th>
    <th>Beneficiary bank name</th>
    <th>Total EUR</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>01</td>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">46,844</td>
    <td class="cell-action">
      <a href="#">
        <svg width="19" height="20">
          <use xlink:href="./assets/img/icons.svg#in-progress"></use>
        </svg>
      </a>
      <span class="tooltiptext">in processing</span>
    </td>
  </tr>
  <tr>
    <td>02</td>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">11,711</td>
    <td class="cell-action">
      <a href="#">
        <svg width="19" height="20">
          <use xlink:href="./assets/img/icons.svg#in-progress"></use>
        </svg>
      </a>
      <span class="tooltiptext">in processing</span>
    </td>
  </tr>
  <tr>
    <td>03</td>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">96,615</td>
    <td class="cell-action">
      <a href="#">
        <svg width="19" height="20">
          <use xlink:href="./assets/img/icons.svg#in-progress"></use>
        </svg>
      </a>
      <span class="tooltiptext">in processing</span>
    </td>
  </tr>
  <tr>
    <td>04</td>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">23,546</td>
    <td class="cell-action">
      <a href="#">
        <svg width="26" height="20">
          <use xlink:href="./assets/img/icons.svg#deposit-done"></use>
        </svg>
      </a>
      <span class="tooltiptext">completed</span>
    </td>
  </tr>
  <tr>
    <td>05</td>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">1,478,508</td>
    <td class="cell-action">
      <a href="#">
        <svg width="19" height="20">
          <use xlink:href="./assets/img/icons.svg#in-progress"></use>
        </svg>
      </a>
      <span class="tooltiptext">in processing</span>
    </td>
  </tr>
  <tr>
    <td>06</td>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">23,000</td>
    <td class="cell-action">
      <a href="#">
        <svg width="19" height="20">
          <use xlink:href="./assets/img/icons.svg#in-progress"></use>
        </svg>
      </a>
      <span class="tooltiptext">in processing</span>
    </td>
  </tr>
  <tr>
    <td>06</td>
    <td>12/22/20</td>
    <td class="cell-name">J&J LTD first plate…</td>
    <td>JPMorgan Chase</td>
    <td class="cell-currency">23,000</td>
    <td class="cell-action">
      <a href="#">
        <svg width="19" height="20">
          <use xlink:href="./assets/img/icons.svg#in-progress"></use>
        </svg>
      </a>
      <span class="tooltiptext">in processing</span>
    </td>
  </tr>
  </tbody>
</table>
<p class="more"><a href="#">↓ more transfers</a></p>
