<div class="action-panel">
  <div class="title">
    <h1>Transfer</h1>
  </div>
</div>

<div class="search-block">
  <input
    class="search-input"
    type="text"
    placeholder="find transfer"
  />
  <a href="#" class="received-deposits">view completed transfers</a>
  <button class="btn btn-primary add-btn-icon" (click)="newTransfer()">
    new transfer
  </button>
</div>

<table class="tbl" *ngIf="transfers$ | async">
  <thead>
  <tr>
    <th>Ref.№.</th>
    <th>Date</th>
    <th>Beneficiary name</th>
    <th>Beneficiary bank name</th>
    <th>Amount</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transfer of (transfers$ | async)">
    <td>{{transfer.id}}</td>
    <td>{{transfer.created_at | date:'dd MMM yyyy'}}</td>
    <td class="cell-name">{{transfer.beneficiary_name}}</td>
    <td>{{transfer.bank_name}}</td>
    <td class="cell-currency" [ngClass]="transfer.currency">{{transfer.amount}}</td>
    <td class="cell-action">
      <a href="#">
        <svg width="19" height="20" *ngIf="transfer.status === 'in processing'">
          <use xlink:href="./assets/img/icons.svg#in-progress"></use>
        </svg>
        <svg width="26" height="20" *ngIf="transfer.status==='confirmed'">
          <use xlink:href="./assets/img/icons.svg#deposit-done"></use>
        </svg>
      </a>
      <span class="tooltiptext">{{transfer.status}}</span>
    </td>
  </tr>

  </tbody>
</table>
<p class="more"><a href="#">↓ more transfers</a></p>

<app-transfer-modal *ngIf="isPopupVisible" (closeClicked)="hideModal()"></app-transfer-modal>
