<div class="action-panel">
  <div class="title">
    <h1>Clients</h1>
  </div>
</div>
<div class="beneficiary-controls">
  <input
    class="search-input"
    type="text"
    placeholder="find beneficiary"
  />
  <button class="btn btn-primary add-btn-icon">
    new client
  </button>
</div>

<table class="tbl">
  <thead>
  <tr>
    <th>Client</th>
    <th>Balance RUB</th>
    <th>Balance USD</th>
    <th>Balance EUR</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>John Smith</td>
    <td>1000</td>
    <td>35000</td>
    <td>45000</td>
  </tr>  <tr>
    <td>Jane Smith</td>
    <td>1000</td>
    <td>35000</td>
    <td>45000</td>
  </tr>
  <tr>
    <td>John Doe</td>
    <td>1000</td>
    <td>35000</td>
    <td>45000</td>
  </tr>

  </tbody>
</table>
<p class="more"><a href="#">↓ more clients</a></p>
