<div class="modal-window" *ngIf="client$ | async">
  <span class="close" (click)="closeModal()">&times;</span>
  <div class="modal-header">
    <div class="modal-header_header">
      <h2>{{(client$ | async).client_name}}</h2>
    </div>
    <button class="btn btn-primary" (click)="updateClient()">
      <svg width="30" height="20">
        <use xlink:href="./assets/img/icons.svg#pencil-edit"></use>
      </svg>
      Change
    </button>
  </div>

  <div class="modal-content">
    <h4><span class="label">Email:</span> {{(client$ | async).email}}</h4>
    <h4><span class="label">Phone:</span> {{(client$ | async).phone_number}}</h4>
    <h4><span class="label">Contact name:</span> {{(client$ | async).contact_name}}</h4>
    <br>
    <br>
    <h3>Компания администратора</h3>
    <h4><span class="label">Название компании:</span>
      {{(client$ | async).organization_form === 'ooo' ? 'ООО ' : 'ИП '}}   {{(client$ | async).company_name}}
    </h4>
    <h4><span class="label">Юр. адрес:</span> {{(client$ | async).law_address}}</h4>

  </div>

  <div class="new-client-footer">


  </div>
</div>
