<div class="modal-window">
  <span class="close" (click)="closeModal()">&times;</span>
  <div class="modal-header">
    <div class="modal-header_header">
      <h2>{{editMode ? 'Edit' : 'New'}} bank</h2>
      <span *ngIf="!editMode">Fill in all fields to create a new client</span>
    </div>
    &nbsp;
    <button
      class="btn btn-primary"
      (click)="onSubmit()"
      [disabled]="!form.valid"
    >
      <svg width="20" height="15">
        <use xlink:href="./assets/img/icons.svg#save-deposit"></use>
      </svg>
      save bank
    </button>
  </div>

  <div class="errors" *ngIf="errors">
    <ul>
      <li *ngFor="let err of errors">{{err}}</li>
    </ul>
  </div>

  <form [formGroup]="form" class="modal-content" (ngSubmit)="onSubmit()">
    <div>
      <label for="bank_name">Bank name:</label>
      <input
        id="bank_name"
        type="text"
        placeholder="Bank name"
        formControlName="bank_name"
        [ngClass]="{invalid: form.get('bank_name').touched && form.get('bank_name').invalid}"
      />
    </div>

    <div>
      <label for="swift_code">SWIFT:</label>
      <input
        id="swift_code"
        type="text"
        placeholder="SWIFT"
        formControlName="swift_code"
        [ngClass]="{invalid: form.get('swift_code').touched && form.get('swift_code').invalid}"
      />
      <div
        *ngIf="form.get('swift_code').touched && form.get('swift_code').invalid"
        class="validation">
        <small
          *ngIf="form.get('swift_code').errors.required"
        >Please enter swift code</small>
      </div>
    </div>

    <div>
      <label for="bank_address">Bank address:</label>
      <input
        id="bank_address"
        type="text"
        placeholder="Bank address"
        formControlName="bank_address"
        [ngClass]="{invalid: form.get('bank_address').touched && form.get('bank_address').invalid}"
      />
    </div>
  </form>

  <div class="new-client-footer">

    <span class="warning">*fill in all important fields</span>
    <div>
      <button
        class="btn btn-primary"
        (click)="onSubmit()"
        [disabled]="!form.valid"
      >
        <svg width="20" height="15">
          <use xlink:href="./assets/img/icons.svg#save-deposit"></use>
        </svg>
        save bank
      </button>
    </div>

  </div>
</div>
