<div class="action-panel">
  <div class="title">
    <h1>Foreign Banks</h1>
  </div>
</div>
<div class="beneficiary-controls">
  <input
    class="search-input"
    type="text"
    placeholder="find bank"
  />
  <button class="btn btn-primary add-btn-icon" (click)="enableAddMode()">
    new bank
  </button>
</div>

<table class="tbl" *ngIf="(banks$ | async)">
  <thead>
  <tr>
    <th>Bank</th>
    <th>SWIFT</th>
    <th>Bank address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bank of (banks$ | async)" (click)="showModal(bank)">
    <td class="client-name">{{bank.bank_name}}</td>
    <td>{{bank.swift_code}}</td>
    <td>{{bank.bank_address}}</td>
  </tr>
  </tbody>
</table>
<p class="more"><a href="#">↓ more banks</a></p>


<p *ngIf="loading$ | async">Loading...</p>

<app-bank-modal *ngIf="selected" [bank]="selected" (closeClicked)="hideModal()"></app-bank-modal>
