<div class="page-wrapper">
  <header class="header">
    <div class="container">
      <nav class="nav">
        <div class="logo">
          <a href="/">
            <img src="./assets/img/logo.svg" alt="B&W consulting"/>
          </a>
        </div>
        <div class="nav__block">
          <div class="menu">
            <ul class="main_menu sign">
              <li><a href="#">Price</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contacts</a></li>
              <li class="active"><a href="#">Sign in</a></li>
            </ul>
            <ul class="sign">
              <li><a href="#">ru</a></li>
              <li class="active"><a href="#">en</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="bg">
      <div class="container">
        <h1>Sign in</h1>

        <form
          class="login-form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >
          <p class="back-errors">{{(errors$ | async)}}</p>
          <div class="form-control">
            <input type="email" placeholder="Email" class="username" formControlName="email"/>
          </div>
          <div class="form-control">
            <input type="password" placeholder="Password" class="password" formControlName="password"/>
          </div>

          <button type="submit">Sign in</button>
          <p class="forget">Forget password?</p>
        </form>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer_nav">
        <div class="logo">
          <img src="./assets/img/footer_logo.svg" alt="B&W"/>
        </div>
        <div class="contacts">
          <div class="emails">
            <div class="email">
              <img src="./assets/img/letter.svg" alt="email" class="icon"/>
              <a href="mailto:ipm@blackandwhite.hk">ipm@blackandwhite.hk</a>
            </div>
            <div class="email">
              <img src="./assets/img/letter.svg" alt="email" class="icon"/>
              <a href="mailto:ipmruat@gmail.com">ipmruat@gmail.com</a>
            </div>
          </div>
          <div class="phones">
            <div class="phone">
              <img src="./assets/img/phone.svg" alt="phone" class="icon"/>
              <span>+43 660 4189687</span>
            </div>
            <div class="phone">
              <img src="./assets/img/phone.svg" alt="phone" class="icon"/>
              <span>+43 660 4189687</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
