@import '_fonts.scss';

$primary: #37ce9a;
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Circe, sans-serif;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.header {
  width: 100%;
  height: 100px;
  padding: 20px;
  position: fixed;
  background-color: #fff;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      text-align: right;
      letter-spacing: 1.9px;
      color: #000000;

      .main_menu {
        margin-right: 50px;
      }

      ul {
        display: flex;
        list-style: none;

        li {
          margin-right: 27px;

          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }

      ul.sign {
        font-size: 13px;
      }

      .active {
        color: $primary;
      }

      .bell {
        display: flex;
        align-items: center;
        margin-right: 19px;
        position: relative;

        svg {
          fill: #000000;
        }

        .event-counter {
          padding: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Circe, sans-serif;
          position: absolute;
          right: -5px;
          top: 3px;
          font-size: 12px;
          line-height: 11px;
          background-color: $primary;
          border-radius: 8px;
          color: #ffffff;
        }
      }
    }
  }
}

.logged-header {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

main {
  flex: 1 0 auto;
  background-color: #f2f2f2;

  .bg {
    margin-top: 100px;
    background-color: $primary;
    height: 27.22vh;
    padding: 0.0518vh;

    h1 {
      color: #ffffff;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      text-transform: uppercase;
      margin: 50px 0;
    }

    .login-form {
      width: 510px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
      padding: 66px 96px;

      .form-control {
        max-width: 320px;
        margin-bottom: 50px;

        input {
          max-width: 320px;
          width: 100%;
          border: none;
          border-bottom: 2px solid #000000;
          padding: 10px 20px 0 0;
          outline: none;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: #000000;

          &::placeholder {
            color: #000000;
          }
        }

        .username {
          background: url(./assets/img/user.svg) center right no-repeat;
        }

        .password {
          background: url(./assets/img/lock.svg) center right no-repeat;
        }
      }

      button {
        display: block;
        border-radius: 40px;
        border: none;
        background-color: $primary;
        padding: 19px;
        width: 320px;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 17px;
        outline: none;
      }

      p {
        text-align: center;

        a {
          color: $primary;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

.footer {
  padding: 20px 20px 20px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  background-color: #000;
  height: 100px;
  color: #ffffff;

  .footer_nav {
    display: flex;
    justify-content: space-between;

    .contacts {
      display: flex;

      a {
        color: inherit;
        text-decoration: none;
      }

      .icon {
        margin-right: 15px;
      }

      .emails {
        margin-right: 36px;
      }
    }

    .email {
      display: flex;
      align-items: center;
    }

    .phone {
      display: flex;
      align-items: center;
    }
  }
}

.logged-user {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }

  margin-right: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2.92308px;
  color: #000000;
}

.btn {
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  color: #ffffff;
  padding: 13px 17px;
  border-radius: 33px;
  border: none;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:disabled {
    cursor: not-allowed;
    background-color: #828282;
  }
}

.btn-primary {
  background-color: $primary;
  padding: 10px 43px;

  &:hover:enabled {
    background-color: darken($primary, 10%);
  }
}

.btn-back {
  padding: 10px 50px;
  background-color: #000000;

  &::before {
    content: '←';
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    left: 15px;
  }
}

.btn-black {
  padding: 10px 23px;
  background-color: #000000;
  text-decoration: none;
}

.exit-btn {
  display: flex;
  align-items: center;
  padding: 13px;
  background-color: #000000;

  &:hover {
    background-color: lighten(#000000, 15%);
  }
}

.main-nav {
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #ffffff;
  margin-right: 40px;

  ul {
    margin: 143px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #c6c6c6;

    li {
      padding: 12px 43px;
      border-left: 6px solid transparent;

      svg {
        margin-right: 24px;
        fill: #c6c6c6;
      }

      &.active {
        color: #000000;
        border-left: 6px solid $primary;

        svg {
          fill: $primary;
        }

        a {
          color: #000000;
        }
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
      }
    }

    li.last {
      flex: 1 0 auto;
    }
  }
}

.main-section {
  flex: 1 0 auto;
  background: #f2f2f2 url(./assets/img/main-bg.svg) center right 110px no-repeat;
  margin-top: 100px;
}

.content {
  display: flex;
  justify-content: space-between;
  height: inherit;
  position: relative;
}

.panel {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 33px 23px;

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #828282;
    margin-bottom: 12px;
  }
}

.main-content {
  width: 80%;
  margin: 36px 0 0 260px;

  .action-panel {
    display: flex;
    justify-content: space-between;

    .title h1 {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      color: $primary;
    }
  }

  .add-btn-icon::before {
    content: '+';
    position: absolute;
    font-size: 24px;
    line-height: 27px;
    font-weight: 300;
    left: 15px;
  }

  .balance-panel {
    margin-top: 25px;
    background: #ffffff url(./assets/img/wallet.svg) center right 39px no-repeat;

    span {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      color: $primary;
    }
  }
}

.mr-18 {
  margin-right: 18px;
}

.mr-70 {
  margin-right: 70px;
}

.usd::before {
  content: '$';
}

.eur::before {
  content: '€';
}

.rub::before {
  content: '₽';
}

.rates-panel {
  margin-top: 10px;
  background: #ffffff url(./assets/img/logo-cbr.png) bottom 29px right 23px no-repeat;

  .titles {
    display: flex;
    justify-content: space-between;
  }

  table {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    border-collapse: collapse;

    td.col-primary {
      color: $primary;
      padding: 0 25px;
    }

    td.col-bold {
      font-weight: bold;
    }
  }
}

.deposit-title {
  margin: 45px 0 38px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
}

.deposit-panels {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .deposit-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #000000;
    padding: 77px 95px;
    cursor: pointer;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary;
      color: #ffffff;
    }
  }
}

.search-input {
  background: url(./assets/img/search.svg) center left 9px no-repeat;
  border: 1px solid #c6c6c6;
  box-sizing: border-box;
  border-radius: 33px;
  padding: 10px 40px;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  outline: none;
  max-width: 425px;
  width: 100%;

  &::placeholder {
    color: #c6c6c6;
  }
}

.beneficiary-controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tbl {
  margin-top: 37px;
  font-style: normal;
  width: 100%;
  border-spacing: 0 5px;

  thead {
    width: 100%;
  }

  thead tr {
    width: 100%;
  }

  thead tr th {
    text-align: left;
    color: #c6c6c6;
    font-weight: bold;
    font-size: 14px;
  }

  tr {
    border-radius: 10px;

    th,
    td {
      display: table-cell;
      padding: 15px 15px 10px;
    }

    width: 100%;
  }

  tbody {
    width: 100%;
  }

  tbody tr {
    background-color: #fff;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    margin-bottom: 5px;

    td {
      font-weight: normal;
      font-size: 16px;
      color: #838383;
      border: 1px solid transparent;
    }

    td.client-name{
      font-weight: bold;
      color: var(--dark-color);
    }
    td.tbl-link:hover{
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
    }

    td:first-child {
      border-top-left-radius: 10px;
    }

    td:last-child {
      border-top-right-radius: 10px;
    }

    td:first-child {
      border-bottom-left-radius: 10px;
    }

    td:last-child {
      border-bottom-right-radius: 10px;
    }

    td svg {
      fill: #c6c6c6;
    }
  }

  tbody tr:hover {
    cursor: pointer;

    svg {
      fill: $primary;
    }
  }

  tr:hover td {
    border-bottom: 1px solid $primary;
    border-top: 1px solid $primary;

  }

  tr:hover td:first-child {
    border-left: 1px solid $primary;
  }

  tr:hover td:last-child {
    border-right: 1px solid $primary;
  }

  .cell-currency {
    color: #000000;
  }

  .cell-name {
    font-weight: bold;
    color: #000000;
  }

  .cell-action {
    position: relative;
    text-align: right;
    width: 50px;

    .tooltiptext {
      position: absolute;
      left: -75px;
      bottom: -20px;
      visibility: hidden;
      width: 120px;
      background-color: #fff;
      box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 6px 17px;
      z-index: 2;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #c6c6c6;
    }
  }

  .cell-action:hover .tooltiptext {
    visibility: visible;
  }
}

.more {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #838383;
  margin: 25px 0 25px;

  a {
    color: inherit;
  }
}

.breadcrumbs {
  font-style: normal;
  font-size: 24px;

  .root__breadcrumb {
    font-weight: 800;
    text-decoration-line: underline;
    color: $primary;
  }

  .tail__breadcrumb {
    font-weight: normal;
    font-size: 20px;
    color: #000000;
  }
}

.deposit-panel {
  display: flex;
  margin-top: 23px;
  padding: 16px 23px;
  justify-content: space-between;
  align-items: center;

  .deposit-panel__balance {
    display: flex;
    align-items: center;
  }

  h2 {
    display: inline-block;
    margin: 0;
  }

  .deposit-balance {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-left: 26px;
    color: $primary;
  }
}

.search-block {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.received-deposits {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: #000000;
}

.modal-wrapper {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-window {
    padding: 25px 30px;
    max-width: 780px;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    opacity: 1;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;

    .close {
      position: absolute;
      top: -70px;
      right: -50px;
      font-size: 78px;
      font-weight: 300;
      color: #ffffff;
      cursor: pointer;
    }

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 38px;

      .modal-header_header {
        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          color: #000000;
        }

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #000000;
        }
      }
    }

    .modal-content {
      label{
        font-size: 12px;
        margin-left: 10px;
        color: #118e67;
      }
      .invalid {
        border: 1px solid var(--primary-color);
      }
      .validation{
        color: var(--primary-color);
        small{
          margin-left: 20px;
        }
      }

      .password {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-section {
          width: 70%;
          display: inline-block;
        }

        .link-section {
          width: 30%;
          text-align: center;
          cursor: pointer;

          span {
            text-decoration: underline;
          }

          &:hover {
            color: $primary;
          }
        }
      }

      input {
        width: 100%;
        background: #f3f5f6;
        border-radius: 24px;
        border: none;
        padding: 6px 17px 3px;
        margin-bottom: 5px;
        outline: none;
        font-family: Circe, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;

        &::placeholder {
          color: #838383;
        }
      }

      h4 {
        font-weight: normal;

        span.label {
          color: #37ce9a;
        }
      }
    }

    .upload {
      margin-top: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #000000;

      p {
        margin: 0;
      }

      .upload-group {
        margin-top: 12px;
        display: flex;
        align-items: center;
        color: #838383;

        a {
          text-decoration: inherit;
          color: inherit;
        }

        span {
          margin-right: 10px;
          color: $primary;
        }
      }

      .btn-upload {
        padding: 10px 50px;
        background: #000000 url(./assets/img/upload.svg) center left 17px no-repeat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        margin-right: 14px;
      }
    }

    .modal-footer {
      &-line {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .upload {
          margin: 0;

          .upload-group {
            margin: 0;
          }
        }
      }
    }

    .new-client-footer {
      display: flex;
      margin-top: 30px;
      align-items: center;
      justify-content: space-between;

      .warning {
        color: #ff5858;
      }

      .cp {
        display: inline-block;
        width: 130px;
        margin-right: 50px;
        cursor: pointer;
      }
    }
  }
}

.mt-10 {
  margin-top: 10px;
}

.pull-right {
  float: right;
}

@media (min-width: 1369px) {
  .main-nav {
    position: relative;

    ul {
      position: fixed;
      top: 0;
    }
  }
  .main-content {
    margin-left: 0;
    width: 74%;
  }
}
