<ng-container *ngIf="(currentUser$ | async)">
  <ul *ngIf="(currentUser$ | async).role === 'client'">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/" >
        <svg width="32" height="29">
          <use xlink:href="./assets/img/icons.svg#wallet"></use>
        </svg>
        Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="beneficiary" >
        <svg width="32" height="32">
          <use xlink:href="./assets/img/icons.svg#folder"></use>
        </svg>
        Beneficiary</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="deposit" >
        <svg width="32" height="28">
          <use xlink:href="./assets/img/icons.svg#atm"></use>
        </svg>
        Deposit</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="transfer" >
        <svg width="35" height="28">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
        Transfer</a
      >
    </li>
    <li class="last"></li>
  </ul>
  <ul *ngIf="(currentUser$ | async).role === 'admin'">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/admin" >
        <svg width="32" height="29">
          <use xlink:href="./assets/img/icons.svg#wallet"></use>
        </svg>
        Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="clients" >
        <svg width="32" height="32">
          <use xlink:href="./assets/img/icons.svg#clients"></use>
        </svg>
        Clients</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="companies" >
        <svg width="32" height="28">
          <use xlink:href="./assets/img/icons.svg#company"></use>
        </svg>
        Companies</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="banks" >
        <svg width="32" height="28">
          <use xlink:href="./assets/img/icons.svg#bank"></use>
        </svg>
        Banks</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="deposits" >
        <svg width="32" height="28">
          <use xlink:href="./assets/img/icons.svg#atm"></use>
        </svg>
        Deposits</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="transfers" >
        <svg width="35" height="28">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
        Transfers</a
      >
    </li>
    <li class="last"></li>
  </ul>
</ng-container>
