<!--<aside class="main-nav">-->
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/" >
        <svg width="32" height="29">
          <use xlink:href="./assets/img/icons.svg#wallet"></use>
        </svg>
        Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="beneficiary" >
        <svg width="32" height="32">
          <use xlink:href="./assets/img/icons.svg#folder"></use>
        </svg>
        Beneficiary</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="deposit" >
        <svg width="32" height="28">
          <use xlink:href="./assets/img/icons.svg#atm"></use>
        </svg>
        Deposit</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="/transfer" >
        <svg width="35" height="28">
          <use xlink:href="./assets/img/icons.svg#arrow-right"></use>
        </svg>
        Transfer</a
      >
    </li>
    <li class="last"></li>
  </ul>
<!--</aside>-->
