<div *ngIf="company$ | async">
  <div class="action-panel">
    <div class="title">
      <h1>{{(company$ | async).organization_form === 'ooo' ? 'ООО ' : 'ИП '}}  {{(company$ | async).company_name}}</h1>
    </div>
    <div>
      <button class="btn btn-back" (click)="goBack()">come back</button>
      &nbsp;
      <button class="btn btn-primary" (click)="updateCompany()">
        <svg width="30" height="20">
          <use xlink:href="./assets/img/icons.svg#pencil-edit"></use>
        </svg>
        Change
      </button>
    </div>
  </div>

  <h4><span class="label">Юр. адрес:</span> {{(company$ | async).law_address}}</h4>
  <h4><span class="label">ИНН:</span> {{(company$ | async).inn}}</h4>
  <h4><span class="label">КПП:</span> {{(company$ | async).kpp}}</h4>
  <h4><span class="label">ОГРН/ОГРНИП:</span> {{(company$ | async).reg_number}}</h4>
  <h4><span class="label">Банк:</span> {{(company$ | async).bank_name}}</h4>
  <h4><span class="label">БИК:</span> {{(company$ | async).bic_code}}</h4>
  <h4><span class="label">Корр. счет:</span> {{(company$ | async).corr_account}}</h4>
  <h4><span class="label">Расчетный счет:</span> {{(company$ | async).account_number}}</h4>


  <h4><span class="label">Дата создания:</span> {{(company$ | async).created_at | date:'dd MMM yyyy hh:mm'}}</h4>
  <h4><span class="label">Дата изменения:</span> {{(company$ | async).updated_at | date:'dd MMM yyyy hh:mm'}}</h4>
</div>

<app-company-modal *ngIf="companyModalVisible" [company]="company$ | async"
                   (closeClicked)="hideCompanyModal()"></app-company-modal>
