<div class="action-panel">
  <div class="title">
    <h1>Home</h1>
  </div>

  <div class="action-buttons">
    <button class="btn btn-primary add-btn-icon mr-18" [routerLink]="['/','deposit']">
      new deposit
    </button>
    <button class="btn btn-primary add-btn-icon" [routerLink]="['/', 'transfer']">
      new transfer
    </button>
  </div>
</div>
<div class="panel balance-panel">
  <h2>Account Balance</h2>
  <span class="usd mr-70">1,000,000</span>
  <span class="eur mr-70">898,800</span>
  <span class="rub mr-70">69,711,400</span>
</div>

<div class="panel rates-panel">
  <div class="titles">
    <h2>Rate of exchange «Bank of Russia»</h2>
    <h2 *ngIf="rates;else loading">{{ rates.date | date:'dd MMM yyyy'}}</h2>
  </div>
  <table>
    <tr>
      <td>US Dollar</td>
      <td class="col-primary">USD</td>
      <td class="col-bold" *ngIf="rates;else loading">{{rates.usd}}</td>
    </tr>
    <tr>
      <td>Euro</td>
      <td class="col-primary">EUR</td>

      <td class="col-bold" *ngIf="rates;else loading">{{rates.eur}}</td>
    </tr>
  </table>
</div>

<ng-template #loading>
  Loading...
</ng-template>
